@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #7FA6FF, #ADC6FF
    );
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #899ac4b2;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#002C91;
    text-align: center;
    text-shadow: 1px 1px 2px #09235fb6;
}
h2{
    color: #1a5fffc0;
}
p{
    text-align: justify;
}