@charset "UTF-8";

div {
    min-width: 400px;
    max-width: 1000px;
}

div.espaco {
    position: relative;
    width: 100%; 
    height: 100%;
}

div.astronauta {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}